<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>Smart Tender</title>
<!--

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

#slideshow {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#slideshow img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
            }
#slideshow img.active {
    opacity: 1;
    }
</style>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">Block<em>chain</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

<!-- style="background-color:#3333338c; height:400px;"-->
    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner"><br><br><h2 style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Download File</h2>
  <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
     <div class="col-md-8"><center style="width:500px;">
		{% if msg!=null:

%}
 <center><textarea cols="50" rows="10" style="width:400px;"  readonly>{{ msg }}</textarea>

                                     <input type="hidden" id="source" value="{{ msg }}">     <br>

     <button type="button" id="save" title="Save as text file">Download</button>
 </center>
    <!--<script type="text/javascript">
        document.getElementById("save").onclick = function() {
            var content = document.getElementById('source').value;
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
         textarea {
  position: absolute;
  left: 100px;
  top: 150px;
}
    </script>-->
{% endif%}

                    <script type="text/javascript">
        // when document is ready
        document.getElementById("save").onclick = function() {
            // when clicked the button
            var content = document.getElementById('source').value;
            // a [save as] dialog will be shown
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
    </script>

</center><br>
<!--            <a href="vfiles">Go Back</a>-->
                     <center style="width: 505px; height:0px; !important"> <a href="{{url_for('tenderhome')}}" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Home Page...</a>
                      <a href="{{url_for('viewbid')}}" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Previous Page...</a>
                 </center>
	<br>
		</div>
          </div>
        </div>
            </div>
        </div>
        <div class="slideshow" id="slideshow">
            <img src="static/img/home-1.jpg" alt="slide-1" class="active">
            <img src="static/img/home-2.jpg" alt="slide-2">
            <img src="static/img/home-3.jpg" alt="slide-3">
            <img src="static/img/home-4.jpg" alt="slide-4">
        </div>
    </div>


    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                 <ul>
                <li>
                      <a href="{{url_for('tenderhome')}}">Home</a>
                  </li>
                  <li>
                      <a href="{{url_for('notification')}}">Notification Center</a>
                  </li>
                       <li>
                      <a href="{{url_for('viewnot')}}">View Notifications Information </a>
                  </li>
                  <li>
                      <a href="{{url_for('viewbid')}}">View Bidders Details</a>
                  </li>
                  <li>
                      <a href="{{url_for('index')}}">Logout</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script>
        const slides = document.querySelectorAll('#slideshow img');
        let currentSlide = 0;
        function showSlide(index) {
            slides.forEach((slide, i) => {
                slide.classList.remove('active');
                if (i === index) slide.classList.add('active');
            });
        }
        function nextSlide() {
            currentSlide = (currentSlide + 1) % slides.length;
            showSlide(currentSlide);
        }
        setInterval(nextSlide, 4000);
        showSlide(currentSlide);
    </script>


</body>
</html>