<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>Smart Tender</title>
<!--

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>

<body>

    <!-- <nav>
        <div class="logo">
            <a href="index.html">Block<em>chain</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav> -->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="padding: 10px;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}" style="font-size:x-large">Block chain</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{url_for('index')}}" style="font-size: larger;">Home</a></li>
              <li><a href="{{url_for('vnot')}}"style="font-size: larger;">View Notifications</a></li>
              <li >
                <a href="{{url_for('vresult')}}"style="font-size: larger;">View Results</a>
              </li>
              <li><a href="{{url_for('index')}}"style="font-size: larger;">Logout</a></li>
              
            </ul>
                
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

<!-- style="background-color:#3333338c; height:400px;"-->
    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">

            <div class="inner"><h2 style="color:white">View Tender Notifications</h2>
                   <center>{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %} {% endblock %}
 </center>
  <div class="modal-body" style="width: 130px;margin-left: 100px;">
          <div class="col-md-6 col-md-offset-3">
     <table style="border: 4px solid white; background-color:#91ad87 !important; width:1000px; padding-left:20px;">

                      <th style="color:yellow;border: 3px solid white">Tender.Id</th>
                      <th style="color:yellow;border: 3px solid white">Email</th>
                      <th style="color:yellow;border: 3px solid white">Discription</th>
                      <th style="color:yellow;border: 3px solid white">Cost</th>
                      <th style="color:yellow;border: 3px solid white">Starting Date</th>
                      <th style="color:yellow;border: 3px solid white">Ending Date</th>
                      <th style="color:yellow;border: 3px solid white">Action</th>

                    </tr>

						{% for r in row_val %}
					<tr>
						{% for v in r %}
						<b><td style="color:black; border: 2px solid white"></b>
                        {{v}}</td>
                           {% if r.index(v)==5 %}
								<b><td style="color:black ; border: 2px solid white"><a href="{{ url_for('maketender',s=r[0],s1=r[1],s2=r[2],s3=r[3],s4=r[4],s5=r[5])}}"  method="post" style="color: red" class="btn btn-info">Make Tender</a></td></b>

						{% endif %}
                        {% endfor %}

					</tr>
						{% endfor %}


                  </table>
          </div>
        </div>
            </div>
        </div>
        <video autoplay loop muted>
        	<source src="static/highway-loop.mp4" type="video/mp4" />
        </video>
    </div>


    <!-- <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
                <ul>
                <li>
                      <a href="{{url_for('bidhome')}}">Home</a>
                  </li>
                  <li>
                      <a href="{{url_for('vnot')}}">View Notifications</a>
                  </li>
                   <li>
                      <a href="{{url_for('vresult')}}">View Results</a>
                  </li>
                  <li>
                      <a href="{{url_for('index')}}">Logout</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </section> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>


</body>
</html>